header {
    background-color: gray;
    text-align: center;
    padding: .5em;
    border-bottom: 1px solid black;
}

body {
    margin: 0;
}

.calc {
    padding: 1rem;
}

#answer {
    font-size: xx-large;
    font-weight: bold;
    padding-left: 2rem;
}

.history {
    padding-left: 2rem;
}